@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --font-family: "Poppins", sans-serif;

  --color-bg: #040c18;
  --gradient-header: linear-gradient(133deg,#924fc6 25%,#04f6eb 100%);
  --gradient-text: linear-gradient(100deg,#924fc6 85%,#04f6eb 100%);
}
