.Header_hero{
display: flex;
}
.Header_hero-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}
.Header_hero-content h1{
    font-size: 3.5rem;
    
}
.Header_hero-content-atext{
    display: flex;
    line-height: 3rem;
}
h2{
    font-size: 3.5rem;
    font-weight: bold;
}
h3{
    font-weight: 500;
    font-size: 1.5rem;
}
p{
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
}
.Header_hero-content button{
   min-height: 50px;
   font-size: 1rem;
   background: var(--gradient-text);
   color: var(--color-bg);
   font-weight: bold;
   padding: 10px 20px;
   border-radius: 15px;
   border: 0;
   outline: none;
   margin-top: 1.5rem;
}
.Header_image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Header_image img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:1050px){
.Header_hero{
    flex-direction: column;
}
.Header_hero-content{
    margin: 0 0 3rem;
}
}
@media screen and (max-width:650px){
    .Header_hero-content h1,h2{
        font-size: 2.5rem;
        line-height: 45px;
    }
    .Header_hero-content h3{
        font-size: 1.2rem;
        line-height: 33px;
    }
    .Header_hero-content p{
        font-size: 0.9rem;

    }
    
    .Header_hero-content{
        margin: 0 0 3rem;
    }
    }