.Header_hero{
display: flex;

}
.Header_hero-content{
    flex: 0.7;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
    padding-top: 4rem;

}
#change{
    background: var(--gradient-header);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

.Header_hero-content h1{
    font-size: 3.5rem;
    
}
.Header_hero-content-atext{
    display: flex;
    line-height: 3rem;
}
.Header_hero-content h2{
    font-size: 3.5rem;
    font-weight: bold;

}
.Header_hero-content h3{
    font-weight: 500;
    font-size: 1.5rem;
}
.Header_hero-content p{
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
}
.Header_hero-content button{
   min-height: 50px;
   font-size: 1rem;
   background: var(--gradient-header);
   color: var(--color-bg);
   font-weight: bold;
   padding: 10px 20px;
   border-radius: 15px;
   border: 0;
   outline: none;
   margin-top: 1.5rem;
}
.Header_Canvas{
flex: 1;

    justify-content: center;
    align-items: center;
}




@media screen and (max-width:1310px){
.Header_Canvas{
    flex: 1;
}   
.Header_hero-content h1{
        font-size: 2rem;
        line-height: 45px;
    }

.Header_hero-content h2 {
        font-size: 2rem;
        line-height: 45px;
}

.Header_hero-content-atext h2{
    font-size: 2rem;
    line-height: 45px;
}
.Header_hero-content h3{
        font-size: 1.2rem;
        line-height: 33px;
    }
.Header_hero-content p{
        font-size: 0.9rem;

    }
}
@media screen and (max-width:850px){
    .Header_image{
        flex: 1;
    }   
    .Header_hero-content h1{
            font-size: 1.2rem;
            line-height: 25px;
        }
    
    .Header_hero-content h2 {
            font-size: 1.2rem;
            line-height: 25px;
    }

    
    .Header_hero-content-atext h2{
        font-size: 1.2rem;
        line-height: 25px;

    }
    .Header_hero-content h3{
            font-size: 0.8rem;
            line-height: 20px;

        }
    .Header_hero-content p{
            font-size: 0.7rem;
            line-height: 20px;
    
        }
}



@media screen and (max-width:650px){
    .Header_hero{
        flex-direction: column;
    }

    .Header_Canvas{
        min-height: 400px;
    } 
    Canvas{
        min-height: 300px;
    }
    
    .Header_hero-content h1,h2{
        font-size: 2.5rem;
        line-height: 45px;
    }
    .Header_hero-content h3{
        font-size: 1.2rem;
        line-height: 33px;
    }
    .Header_hero-content p{
        font-size: 0.9rem;

    }
    
    .Header_hero-content{

        margin-top: 0;
    }
    }

